.footer {
  margin-top: 50px;
}

.title {
  color: brown;
}

.txtName {
  /* margin-top: 8px; */
}

.divDescription {
  margin-top: 8px;
}

.input {
  border: solid 0.5px rgb(143, 150, 156);
}

.btnAdd {
  margin-top: 6px;
  margin-right: 4px;
}

.btnCancel {
  margin-top: 6px;
  margin-left: 8px;
}

.checked {
}
