.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.footer {
  margin-top: 50px;
}

.title {
  color: brown;
}

.txtName {
  margin-top: 8px;
}

.divDescription {
  margin-top: 8px;
}

.input {
  border: solid 0.5px rgb(143, 150, 156);
}

.btnAdd {
  margin-top: 6px;
  margin-right: 4px;
}

/* .btnCancel {
  margin-top: 6px;
  margin-left: 8px;
} */
