.filter {
  /* width: 116px; */
  height: 32px;
  margin-left: 4px;
  margin-right: 8px;
  /* background-color: rgb(102, 253, 15); */
}

.icon {
  float: right;
  margin-top: 6px;
  margin-right: 5px;
}

.description {
  float: left;
  margin-top: 3px;
  margin-left: 5px;
}
