/* .iconEdit {
    margin-left: 45%;
    margin-top: 2px;
}

.iconDelete {
    margin-left: 60%;
    margin-top: 2px;
}

.iconInfo {
    margin-top: 2px;
    margin-left: 35%;
} */

.description {
  display: block;
  display: -webkit-box;
  max-width: 95%;
  /* height: 18px; */
  float: left;
  /* font-size: 16px; */
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
